@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .glass {
    @apply bg-white rounded-md bg-clip-padding backdrop-filter backdrop-blur-lg bg-opacity-50;
  }
  p, span, a, button {
    @apply text-blue font-text;
  }
  h1, h2, h3, h4, h5, h2 > strong {
    @apply text-blue font-title; 
  }
}

@layer base {
    @font-face {
      font-family: 'DidactGothic';
      font-style: regular;
      font-display: swap;
      src: url(/src/lib/assets/fonts/DidactGothic-Regular.ttf) format('woff2');
    }
    @font-face {
      font-family: 'KaushanScript';
      font-style: regular;
      font-display: swap;
      src: url(/src/lib/assets/fonts/KaushanScript-Regular.ttf) format('woff2');
    }
  }

  html::-webkit-scrollbar {
      width: 10px;
  }
   
  /* Track */
  html::-webkit-scrollbar-track {
      border: 1px solid #FFBD59;
      border-radius: 5px;
  }
   
  /* Handle */
  html::-webkit-scrollbar-thumb {
      background: #FFBD59;
      border-radius: 4px;
  }

  * {
    scroll-behavior: smooth;
  }

  html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }